// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

#header {
    background-color: grey;
    & * {
        //Font
        color: white;
    }
    & div {
        border: 1px solid black;
    }
}

#icon {
    // background-image: url(../icon.svg);
    // height: 100px;
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
}